.person-icon, .chat-icon{
    font-size: 34px;
    color: #7d7664;
}

.tinder-icon{
    font-size: 34px;
    color: #FE3C72  ;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    padding-top: 10px;
}